### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [174]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"


# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [175]:
purchase_data.rename(columns = {'Purchase ID':'Purchase_ID',"SN":'Player', 'Item ID':'Item_ID','Item Name':'Item_Name'},inplace=True)
purchase_data.head()

,Purchase_ID,Player,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#Total Number of Players

totalnunplayers=purchase_data.groupby("Player")["Player"].nunique().count()
print('Total Number of Players: '+ str(totalnunplayers))

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#uniqueitems=purchase_data.groupby("Purchase ID")["Purchase ID"].count()
#uniqueitems

In [8]:
totalplayers=purchase_data['Player'].nunique()
totalplayers

576

In [9]:
uniqitems=purchase_data['Item_Name'].nunique()
uniqitems

179

In [10]:
avgprice=purchase_data['Price'].mean()
avgprice

3.050987179487176

In [11]:
totalpurchase=purchase_data['Purchase_ID'].nunique()
totalpurchase

780

In [12]:
totalrevenue=purchase_data['Price'].sum()
totalrevenue

2379.77

In [13]:
summary_tbl=pd.DataFrame([[totalplayers, uniqitems,(avgprice),totalpurchase,(totalrevenue)]],columns=['Total_Number_of_Players', 'Number _of_Unique_Items', 'Average_Purchase_Price','Total_Number_of_Purchases','Total_Revenue'])

#summary_tbl
summary_tbl_format=summary_tbl.style.format({"Total_Number_of_Players":"{:,}".format,"Number _of_Unique_Items":"{:,}".format,"Average_Purchase_Price":"${:,.2f}".format, "Total_Revenue":"${:,.2f}".format})
summary_tbl_format

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
group_gender=purchase_data.groupby("Gender")["Player"].nunique()
group_gender.rename(columns= {'Player':'Total_Players'}, inplace=True)

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
dtype: int64

In [15]:
perofplayers=((group_gender*100)/totalplayers)

perofplayers

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
dtype: float64

In [29]:

summary_1 = pd.concat([group_gender,perofplayers], axis=1)

summary_1.reset_index(inplace=True)

summary_1

summary_1.rename(columns={0:'Total_Players',1:"Percentage_of_Players"}, inplace=True)
#summary_1

In [30]:
summary_1sort=summary_1.sort_values('Total_Players',ascending=False)

summary_1sortindex=summary_1sort.reset_index(drop=True)
#summary_1sortindex
summary_1sortindex_format=summary_1sortindex.style.format({"Total_Players":"{:,}".format,"Percentage_of_Players":"{:.4f}%".format})

summary_1sortindex_format


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
purchase_gender=purchase_data.groupby("Gender")["Purchase_ID"].count()
purchase_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_ID, dtype: int64

In [19]:
total_price_gender=purchase_data.groupby("Gender")["Price"].sum()
total_price_gender
total_price_gender.rename(columns= {'price':'Total_Purchase_Value'}, inplace=True)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
dtype: float64

In [20]:
avgpurchase_gender=purchase_data.groupby("Gender")["Price"].mean()
avgpurchase_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [43]:
summary_2 = pd.concat([purchase_gender,total_price_gender,avgpurchase_gender], axis=1)

#summary_1.reset_index(inplace=True)
summary_2
summary_2.rename(columns={"Purchase_ID":"Total_Purchase_by_Gender",0:'Total_Purchase_Value','Price':"Avg_Purchase_Price"}, inplace=True)
#summary_2
summary_2sort=summary_2.sort_values('Total_Purchase_by_Gender',ascending=False)
summary_2sort_format=summary_2sort.style.format({"Total_Purchase_by_Gender":"{:,}".format,"Total_Purchase_Value":"${:,.2f}".format,"Avg_Purchase_Price":"${:,.2f}".format})

summary_2sort_format

In [221]:
agemax=purchase_data[purchase_data['Age']==purchase_data['Age'].max()]
#agemax

In [220]:
agemin=purchase_data[purchase_data['Age']==purchase_data['Age'].min()]
#agemin.head()

In [92]:
bins=[0,10,14,19,24,29,34,39,50]
labels=['<10','10 - 14','15 - 19','20 - 24','25 - 29','30 - 34','35 - 39','40+']
purchase_data_binned =purchase_data.groupby (pd.cut(purchase_data['Age'], bins=bins, labels=labels)).nunique()
#purchase_data_binned["Player"]

In [93]:
percentageplayer=(purchase_data_binned['Player']/totalplayers)*100
percentageplayer.rename(columns={"Player":"Percentage_of_Players"}, inplace=True)

Age
<10         4.166667
10 - 14     2.604167
15 - 19    18.576389
20 - 24    44.791667
25 - 29    13.368056
30 - 34     9.027778
35 - 39     5.381944
40+         2.083333
dtype: float64

In [223]:
totalcount=purchase_data_binned["Player"]
totalcountrenam=totalcount.rename(columns={"Player":"Total_Count"}, inplace=True)
totalcountrenam

Age
<10         24
10 - 14     15
15 - 19    107
20 - 24    258
25 - 29     77
30 - 34     52
35 - 39     31
40+         12
dtype: int64

In [214]:
Summary_3=pd.concat([totalcountrenam,percentageplayerrenam], axis=1)
Summary_3.rename(columns={0:"Total_Count",1:"Percentage_of_Players"}, inplace=True)
Summary_3_format = Summary_3.style.format({"Percentage_of_Players":"{:,.2f}%".format})
Summary_3_format

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#DONE

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [228]:
#purchasecount=purchasecount.groupby('Purchase_ID')['Purchase_ID'].count()
purchasecount=purchase_data_binned['Purchase_ID']
purchasecount_renam=purchasecount.rename(columns={"Purchase_ID":"Purchase_Count"}, inplace=True)
purchasecount_renam

Age
<10         32
10 - 14     19
15 - 19    136
20 - 24    365
25 - 29    101
30 - 34     73
35 - 39     41
40+         13
dtype: int64

In [251]:
bins=[0,10,14,19,24,29,34,39,50]
labels=['<10','10 - 14','15 - 19','20 - 24','25 - 29','30 - 34','35 - 39','40+']
#purchase_data_binned =purchase_data.groupby (pd.cut(purchase_data['Age'], bins=bins, labels=labels)).nunique()
purchase_data_binned_totalvalue = purchase_data.groupby (pd.cut(purchase_data['Age'], bins=bins, labels=labels)).sum()
purchase_data_binned_totalvalue

         Purchase_ID   Age  Item_ID    Price
Age
<10            12477   271     3418   108.96
10 - 14         7646   229     1906    50.95
15 - 19        54859  2284    12798   412.89
20 - 24       139573  7971    32411  1114.06
25 - 29        41072  2626     9146   293.00
30 - 34        26254  2291     6875   214.00
35 - 39        16596  1505     4137   147.67
40+             5333   540     1158    38.24

In [265]:
purchase_data_binned_totalvalue['Total_Purchase_Value']
#purchase_data_binned_totalvalue

Age
<10         108.96
10 - 14      50.95
15 - 19     412.89
20 - 24    1114.06
25 - 29     293.00
30 - 34     214.00
35 - 39     147.67
40+          38.24
Name: Total_Purchase_Value, dtype: float64

In [266]:
#purchase_data_binned_totalvalue_renam=purchase_data_binned_totalvalue.rename(columns={"Price":"Total_Purchase_Value"}, inplace=True)
#purchase_data_binned_totalvalue_renam

In [280]:
purchase_data_binned_avg = purchase_data.groupby (pd.cut(purchase_data['Age'], bins=bins, labels=labels)).mean()
#purchase_data_binned_avg_renam=purchase_data_binned_avg.rename(columns={"Price":"Avg_Purchase_Price"}, inplace=True)
#purchase_data_binned_avg_renam
purchase_data_binned_avg['Price']

Age
<10        3.405000
10 - 14    2.681579
15 - 19    3.035956
20 - 24    3.052219
25 - 29    2.900990
30 - 34    2.931507
35 - 39    3.601707
40+        2.941538
Name: Price, dtype: float64

In [276]:
AvgPurchasetotalperperson = purchase_data_binned_totalvalue['Total_Purchase_Value']/purchase_data_binned["Player"]
AvgPurchasetotalperperson

Age
<10        4.540000
10 - 14    3.396667
15 - 19    3.858785
20 - 24    4.318062
25 - 29    3.805195
30 - 34    4.115385
35 - 39    4.763548
40+        3.186667
dtype: float64

In [285]:
Summary_4=pd.concat([purchasecount_renam,purchase_data_binned_avg['Price'],purchase_data_binned_totalvalue['Total_Purchase_Value'],AvgPurchasetotalperperson], axis=1)
Summary_4.rename(columns={0:"Purchase_Count",'Price':'Avg_Purchase_Price',1:"Avg_Total_Purchase_per_Person"}, inplace=True)
Summary_4_format = Summary_4.style.format({"Avg_Purchase_Price":"${:,.2f}".format,"Total_Purchase_Value":"${:,.2f}".format,"Avg_Total_Purchase_per_Person":"${:,.2f}".format})
Summary_4_format

In [287]:
#summary_4sort=Summary_4_format.sort_values('Age',ascending=False)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [288]:
purchase_data.head()

,Purchase_ID,Player,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [293]:
SNpurchasecount=purchase_data.groupby('Player')["Purchase_ID"].count()
SNpurchasecount.head()

Player
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase_ID, dtype: int64

In [294]:
SNavgpurchaseprice=purchase_data.groupby('Player')["Price"].mean()
SNavgpurchaseprice.head()

Player
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [297]:
SNtotalpurchasevalue=purchase_data.groupby('Player')["Price"].sum()
SNtotalpurchasevalue.rename(columns={'Price':'Avg_Purchase_Price'}, inplace=True)
SNtotalpurchasevalue.head()

Player
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
dtype: float64

In [305]:
Summary_5=pd.concat([SNpurchasecount,SNavgpurchaseprice,SNtotalpurchasevalue], axis=1)
Summary_5.rename(columns={'Purchase_ID':"Purchase_Count",'Price':'Avg_Purchase_Price',0:"Total_Purchase_Value"}, inplace=True)
Summary_5sort=Summary_5.sort_values('Total_Purchase_Value',ascending=False).head()
Summary_5_format = Summary_5sort.style.format({"Avg_Purchase_Price":"${:,.2f}".format,"Total_Purchase_Value":"${:,.2f}".format})
Summary_5_format

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [322]:
MPtotalpurchasecount=purchase_data.groupby(['Item_ID','Item_Name'])['Purchase_ID'].count()
MPtotalpurchasecount.head()

Item_ID  Item_Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Purchase_ID, dtype: int64

In [314]:
MPitemprice=purchase_data.groupby(['Item_ID','Item_Name'])['Price'].mean()
MPitemprice.head()

Item_ID  Item_Name
0        Splinter              1.28
1        Crucifer              3.26
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
Name: Price, dtype: float64

In [316]:
MPtotalpurchasevalue=purchase_data.groupby(['Item_ID','Item_Name'])['Price'].sum()
MPtotalpurchasevalue.rename(columns={'Price':'Total_Purchase_Value'}, inplace=True)
MPtotalpurchasevalue.head()

Item_ID  Item_Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
dtype: float64

In [329]:
Summary_6=pd.concat([MPtotalpurchasecount,MPitemprice,MPtotalpurchasevalue], axis=1)
Summary_6.rename(columns={'Purchase_ID':"Purchase_Count",'Price':"Iteam_Price",0:"Total_Purchase_Value"}, inplace=True)
Summary_6sort=Summary_6.sort_values('Purchase_Count',ascending=False).head()
Summary_6_format = Summary_6sort.style.format({"Item_Price":"${:,.2f}".format,"Total_Purchase_Value":"${:,.2f}".format})
Summary_6_format

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [331]:
Summary_6sort2=Summary_6.sort_values('Total_Purchase_Value',ascending=False).head()
Summary_6sort2

,,Purchase_Count,Iteam_Price,Total_Purchase_Value
Item_ID,Item_Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80